@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
  --color-brand-purple: #7f77dd;
  --color-brand-teal: #1d9e75;
  --color-brand-coral: #d85a30;
  --color-brand-dark: #534ab7;
}
